<IfModule mod_rewrite.c>
    # Убираем возможные проблемы с индексами
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Включаем перезапись
    RewriteEngine On

    # Перенаправляем /api/documentation на Swagger UI
    RewriteRule ^api/documentation$ swagger-ui/index.html [L,R=302]

    # Перенаправляем все запросы в папку public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Отправляем все запросы в index.php (Front Controller)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
